DATABASE_URL=postgresql://neondb_owner:npg_cOm9C8ezuMjV@ep-gentle-bread-apvc4or4-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Email
ALERT_EMAIL=
ALERT_EMAIL_PASSWORD=

# AbuseIPDB
ABUSEIPDB_API_KEY=

# Ports
HONEYPOT_PORT=5000
SOC_PORT=4000
CLIENT_PORT=3000